html,body {
	margin: 0px 0px 0px 0px;
	height: 100%;
	/*background-color: #0a1c1e;*/
}

div.foundation {
	background-color: #0a1c1e;
	float: left;
	width: 100%;
	height: 100%;
}
div.hub {
	position: relative;
	background-color: #fff;
	float: right;
	width: 50%;
	height: 100%;
}

img.logo {
	display: block;
    margin: auto;
    width: 35%;
}

p.foundation {
	font-family: 'Aller', Arial, sans-serif;
	font-weight: bold;
	font-size: 100px;
	color: #7ccfed;
	text-align: center;
	line-height: 80%;
}

p.hub {
	font-family: 'Aller', Arial, sans-serif;
	font-weight: bold;
	font-size: large;
	color: #000;
	text-align: center;
	line-height: 80%;
}

table {
	margin-top: 100px;
}
