@font-face {
    font-family: 'Aller';
    src: url('../fonts/aller-webfont.woff2') format('woff2'),
         url('../fonts/aller-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*
 * CUSTOM COLOURS
 * Navy:   #17458F
 * Blue:   #005daa
 * Dorado: #f7a81b
 */

.main {
    color: #17458F;
}

a.hub-color {
  /* Letras Menu Superior */
	color: #f7a81b;
}

.custom-wrapper {
	/* Menú Superior
    background-color: #17458F; */
    background-color: #005daa;
}

#menu-top {
	/* Sombra Inferior del Menú Superior
	background: #005daa;*/
  background: #17458F;
}

.content-subhead {
  /* Titulos contenido */
	color: #17458F;
}

.header {
	color: #17458F;
}

aside.donate-box {
	border-color: #17458F;
}

.ribbon {
  /* Letras footer */
	color: #f7a81b;
}

a.link{
	text-decoration: none;
	color: #f7a81b;
	/* font-weight: bold; */
}
