@font-face {
    font-family: 'Aller';
    src: url('../fonts/aller-webfont.woff2') format('woff2'),
         url('../fonts/aller-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.main {
    color: #f14a28;
}

a.hub-color {
	color: #FFFFFF;
}

.custom-wrapper {
	/* Menú Superior */
    background-color: #414141;
}

#menu-top {
	/* Sombra Inferior del Menú Superior */
	background: #1C1C1C;
}

.content-subhead {
	color: #414141;
}

.header {
	color: #414141;
}

aside.donate-box {
	border-color: #414141;
}

.ribbon {
	color: #FFFFFF;
}

a.link{
	text-decoration: none;
	color: #777;
	font-weight: bold;
}
