@font-face {
    font-family: 'Aller';
    src: url('../fonts/aller-webfont.woff2') format('woff2'),
         url('../fonts/aller-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*
 * CUSTOM COLOURS
 * Grey:        #676864
 * Dark Green:  #6d8944
 * Light Green: #a6bc74
*/
.main {
    color: #d5002e
}

a.hub-color {
	color: #191818;
}

.custom-wrapper {
	/* Menú Superior */
    background-color: #d5002e;
}

#menu-top {
	/* Sombra Inferior del Menú Superior */
	background: #191818;
}

.content-subhead {
	color: #d5002e;
}

.header {
	color: #676864;
}

aside.donate-box {
	border-color: #d5002e;
}

.ribbon {
	color: #d5002e;
}

a.link{
	text-decoration: none;
	color: #d5002e;
	font-weight: bold;
}

p.servicio-grid{
	margin: 0px 10px 0px 10px;
	text-align:left;
}

.header h1 {
	margin: 0px 0px 0px 0px;
}
