@font-face {
    font-family: 'Aller';
    src: url('../fonts/aller-webfont.woff2') format('woff2'),
         url('../fonts/aller-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*
 * CUSTOM COLOURS
 * Grey:        #676864
 * Dark Green:  #6d8944
 * Light Green: #a6bc74
*/
.main {
    color: #f14a28;
}

a.hub-color {
	color: #fbfbfb;
}

.custom-wrapper {
	/* Menú Superior */
    background-color: #f14a28;
}

#menu-top {
	/* Sombra Inferior del Menú Superior */
	background: #ff1800;
}

.content-subhead {
	color: #f14a28;
}

.header {
	color: #676864;
}

aside.donate-box {
	border-color: #f14a28;
}

.ribbon {
	color: #f14a28;
}

a.link{
	text-decoration: none;
	color: #777;
	font-weight: bold;
}
